entrypoint = "./src/main.py"
modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"
packages = ["openssl", "postgresql"]

[deployment]
run = ["sh", "-c", "python3 ./src/main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
